<ion-content class="ion-padding">
  <!-- Image -->
  <div class="image-container">
    <ion-img src="../../../assets/scooter.jpg"></ion-img>
  </div>

  <!-- Message -->
  <div class="message-container">
    <h1>Get the <span class="text-warning">fastest</span>
      <br>Delivery Groceries<br><span class="text-danger">at Home</span>
    </h1>
  </div>

  <!-- Buttons -->
  <div>
    <ion-button expand="block" class="ion-margin-bottom" routerLink="/login">Login</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/register">Register</ion-button>
  </div>

  <!-- Other Logins -->
  <div class="socio-login-container">
    <p>Or login with</p>
    <div class="socials">
      <div class="socio-icon">
        <ion-img src="../../../assets/google.png"></ion-img>
      </div> <!-- Google -->
      <div class="socio-icon">
        <ion-img src="../../../assets/facebook.png"></ion-img>
      </div> <!-- Facebook -->
    </div>
  </div>
</ion-content>